@model List<PW3.Entidades.UsuarioEntidade>

    <h1> Lista de Usuários</h1>
    <<<<<<< HEAD
    =======
    <div class="row">
    <div class="col-2">
        <a href="/Usuarios/Create" class="btn btn-success">Cadastrar</a>
    </div>
        <div class="col-8">
            <form action="/Usuarios/Index" method="get">
                <div class="input-group mb-3">
                    <input name="query" type="text" class="form-control">
                    <button class="btn btn-primary" type="submit">
                        Pesquisar
                    </button>
                </div>
            </form>
        </div>
    </div>

    >>>>>>> ee

    <table class="table">
        <thead>
            @@ -15,20 +12,13 @@
            </tr>
        </thead>
        <tbody>
            @foreach(var usuario in Model)
        {
            <tr>
                <th>@usuario.Id</th>
                <td>@usuario.Email</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>

    <button id="botao" onclick="Piscar()">
        Clique aqui para piscar
    </button>
    <script>
        function Piscar()
        {
            var botao = document.getElementById("botao")
            if(botao.style.backgroundColor == 'red')
            {
                botao.style.backgroundColor = 'blue'
            }
            else{
                botao.style.backgroundColor = 'red'
            }
        }
    </script>
