@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
} <h1> Index do Usuarios </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Marcelo</td>
            <td>marcelo@gmail.com</td>
  
        </tr>
        <tr>
            <th>2</th>
            <td>Maires</td>
            <td>maires@gmail.com</td>
           
        </tr>
        <tr>
            <th>3</th>
            <td>Clara</td>
            <td>clara@gmail.com</td>
            
        </tr>
    </tbody>
</table>

