@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<PW3.Entidades.UsuarioEntidade>

<h1> Lista de Usuários</h1>

<table class="table">
    <thead>
        @@ -15,20 +12,13 @@
        </tr>
    </thead>
    <tbody>
       
        @foreach (var usuario in Model)
        {
            <tr>
                <th>@usuario.Id</th>
                <td>@usuario.Email</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>