<form action="" method="">
	<label>Nome</label>
	<input type="type"
		   name="name"
		   value="" />
	<label>Senha</label>
	<input type="password"
		   name="senha"
		   value="" />
	<button>
		Logar
	</button>
</form>